﻿
<html>
<head>
    <title>
        ML Demo
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="text-center well"><b><a href="" onclick="">ML App</a></b></div>
    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
            {{message}}
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    <div class="container">
        <div class="col-sm-8">
            <form action="/import" method="POST"
                  enctype="multipart/form-data">
                <input type="file" name="file" accept=".csv"/> <br />
                <button type="submit" class="btn btn-primary">Import</button>
            </form>
            <form action="/divide" method="POST">
                <p>Dividing into Independent and dependent variabes: 
                <button type="submit" class="btn btn-primary"> Divide </button>
                </p>
            </form>
            <form action="/rfc" method="POST">
                <p>Random Forest Classifier: </p>
                Enter Years of experience: <input type="text" name="YOE" autofocus/>
                <button type="submit" class="btn btn-primary"> Predict the result </button>
            </form>
            <p><strong>{{prediction}}</strong></p>
        </div>
            <div class="col-sm-4">
                <textarea rows="20" cols="70">{{dataSet}}</textarea>
            </div> 
    </div>
    
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>