﻿
<html>
<head>
    <title>
        Random Forest
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="text-center well"><b>Random Forest Regression</b></div>
    <header class="header">
        <button class="btn btn-info" onclick="location.href = '/' ">Home</button>
    </header>
    <style>
        header
        {
            padding-left: 20px;
        }

    </style>
    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
            {{message}}
        </div>
        {% endfor %}
    </div>
    {% endblock %}
    <div class="container">
        <div class="col-sm-8">
            <form action="/import" method="POST"
                  enctype="multipart/form-data">
                <input type="file" name="file" accept=".csv"/> ( Select the dataset (Position_Salaries.csv) provided in Git repository ) <br />
                <button type="submit" class="btn btn-primary">Import</button>
            </form>
            <form action="/divide" method="POST">
                <p>Dividing into Independent and dependent variabes: 
                <button type="submit" class="btn btn-primary"> Divide </button>
                </p>
            </form>
            <form action="/rfc" method="POST">
                <p>Random Forest Classifier: </p>
                Enter n_estimators: <input type="text" name="n_estimators" id="n_estimators"/> <br />
                Enter Years of experience: <input type="text" name="YOE" autofocus/> <br />
                <button type="submit" class="btn btn-primary"> Predict the result </button>
            </form>
            <p><strong>{{prediction}}</strong></p>
        </div>
            <div class="col-sm-4">
                <textarea rows="20" cols="70">{{dataSet}}</textarea>
            </div> 
    </div>
    
    <div id="footer">
        <center>
            &copy; Copyright 2018 ML App
        </center>      
    </div>
    <style>
        #footer
        {
            color: white;
            font-family: sans-serif;
            position: absolute;
            height: 60px;
            width: 100%;
            bottom: 0;
            background-color: black;
        }
    </style>      
    <!--<script src="{{url_for('static', filename='main.js')}}"></script>-->
    <script>
        document.getElementById("n_estimators").defaultValue = "10";
    </script>
</body>
</html>